
<div class="w-full max-w-xs mx-auto my-5">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mx-auto">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
          username
        </label>
        <input [(ngModel)]="credentials.username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="name" id="username" type="text" placeholder="username">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          password
        </label>
        <input [(ngModel)]="credentials.password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="address" id="username" type="text" placeholder="address">
      </div>
      
      <!-- <p class="py-4" *ngIf="error" style="color: red;">!! fill all fields </p>
      <p class="py-4" *ngIf="created" style="color: blue;">Customer created !! </p> -->

      <div class="flex items-center justify-between">
        <button (click)="onSubmit()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
          Login
        </button>
        <a routerLink="/register" class="mb-2 bg-gray-200 hover:bg-gray-300 py-2 px-4 rounded text-sm font-medium text-gray-900">Register Instead</a>
        
      </div>
    </form>
  </div>
  